.loader{background: #fff;}
.sk-rotating-plane { background-image: url(../images/logo-icon.png); background-repeat: no-repeat;}


.color_red {
  color:#db3119;
}
.latest_box > a > h3:hover {
  color: #db3119;
}
#recent_project .owl-prev:hover  {
  background: #db3119;
}

#recent_project .owl-next:hover {
  background: #db3119;
}
.recent_project_2 .owl-prev:hover  {
  background: #db3119 !important;
}

.recent_project_2 .owl-next:hover {
  background: #db3119 !important;
}
.dropdown-menu li.active a {
  color: #fff !important;
}
/*#header-top .cont_office {
  background:#db3119;
}*/
#header-top {
  background:#0e1032;
}
.social-icons li:hover {
  background:#db3119;
}
#header-top_3 .search a i {
  background:#db3119;
}
#header-top_3 .cool-link_3::after {
  background: #db3119;
}
.cool-link::after {
  background: #db3119;
}
nav.navbar li.dropdown ul.dropdown-menu {
  border-top:2px solid #db3119 !important;
}
nav.navbar.bootsnav ul.nav > li > a:hover {
  color: #db3119;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover, nav.navbar.bootsnav li.dropdown{ 
  color:#db3119;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li.active > a, .dropdown-menu > li > a:hover {
  color: #db3119;
}
.team_popup .progress-bar {
  background-color: #db3119;
}
.pop_text > h3 {
  color: #db3119;
}
.btn-dark:hover{
  background:#db3119;
}
.btn-light{
  background:#054073c7;
}
.tp-tab:hover .tp-tab-title > span, .tp-tab.selected .tp-tab-title > span{ 
  color:#db3119;
}
.tp-tab:hover .tp-tab-title::before, .tp-tab.selected .tp-tab-title:before{ 
  color:#db3119;
}
.tp-tab:hover .tp-tab-title span::before, .tp-tab.selected .tp-tab-title span:before{ 
  background:#db3119; 
}
.tp-tab:hover, .tp-tab.selected{
  background:#db3119 !important;
}
.tp-tab:hover .tp-tab-title span{
  color:#db3119;
}
#s_services .services:hover a{
  color:#db3119;
  border-color:#db3119;
}
#s_services .services:hover span{
 
  border: 0px  solid ;
}
.feature_box:hover{
  background: #db3119;
}
.feature_3 .feature_box:hover  i{
  background: #db3119;
}
.feature_3 .feature_box:hover h3{
  color: #db3119;
}
#about_slider .owl-page.active span, 
#about_slider .owl-page:hover span {
  background: #db3119;
}
.recent_box:hover{
  background: #db3119;
}
.about_2_button .btn-dark:hover{
  background: #db3119;
}
#about_us_2 .feature_box:hover i {
  color: #db3119;
}
#about_us_2 .feature_box:hover h3 {
  color: #db3119;
}
.wpf-demo-gallery .view-caption a:hover {
  color: #db3119;
}
.recent_project-slider .owl-buttons .owl-prev:hover, .recent_project-slider .owl-buttons .owl-next:hover {
  background: #db3119;
}
.recent_tabs .nav-tabs > li.active > a, 
.recent_tabs .nav-tabs > li.active > a:focus, 
.recent_tabs .nav-tabs > li.active > a:hover {
  color: #db3119;
}
.recent_tabs .nav > li > a:focus, .recent_tabs .nav > li > a:hover {
  color:#db3119;
}
.cool-link-2::after{
  background: #db3119;
}
.recent_project_2 .recent_box:hover {
  background: #db3119;
}
.recent_project_3_slider .owl-buttons .owl-prev:hover,
.recent_project_3_slider .owl-buttons .owl-next:hover{
  background: #db3119;
}
#our_team_slider .owl-controls .owl-page.active span, .owl-controls.clickable .owl-page:hover span {
  background: #db3119;
}
#our_team_3 .item .team_text:hover a {
  color:#db3119;
  border-color:#db3119;
}
.wpf-demo-gallery .view-caption a:hover {
  color: #db3119;
}
#testimonials .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #db3119;
}
.testi_heading > h4 {
  color: #db3119;
}
#testimonial-slider_2 .owl-controls .owl-page.active span, .owl-controls.clickable .owl-page:hover span {
  background: #db3119;
}
#latest_news-slider .owl-page.active span, 
#latest_news-slider .owl-page:hover span {
  background: #db3119;
}

#latest_news .owl-controls .owl-page.active span, .owl-controls.clickable .owl-page:hover span {
  background: #db3119;
}
.latest_box_4 > h2 > a:hover{
  color: #db3119;
}
.company_icon i {
  color:#db3119;
}
.social-icons_1 li:hover{
  background:#db3119;
}
.footer_link_1 li a:hover {
  color: #db3119;
}
.latest_footer h4 a:hover{
  color: #db3119;
}
.text_ita {
  border-left: 6px solid #db3119;
}
#contact_form h3 span {
  background:#db3119;
}
#contact_form .form_left .footer_1_contact i {
  color: #db3119;
}
#faq .items > li > a:hover, #faq .items > li > a.expanded {
  background: #db3119 !important;
}
#news-section .pro-list > li:hover {
  color:#db3119;
}
.news_image .price .tag {
  background: #db3119;
}
.latest_page_box span a:hover{
  color: #db3119;
}
.latest_page_box .btn-dark:hover{
  background:#db3119;
}
.pager li > a:hover, .pager li > a:focus, .pager li.active > a {
  background-color: #db3119;
  border-color:#db3119;
}
.have_qus {
  /* background: #ddd; */
}
.news-tag > a:hover {
  background:#db3119;
}
.latest_box_5 > a {
  border-bottom:1px solid #db3119;
  color:#db3119;
}
.news_details .latest_page_details a {
  color:#db3119;
}
.news_details .latest_page_details a {
  color:#db3119;
}
.our_team .social-icons_1 li:hover{
  background: #db3119;
}
.project .recent_box:hover{
  background: #db3119;
}
.project_des {
  border-left:6px solid #db3119;
}
.project_des .table > tbody > tr > td a {
  color: #db3119;
}
.testimonials_box > h4 {
  color:#db3119;
}
.solution_tabs > ul {
  border-left:3px solid #054073c7;
}
.solution_tabs .active a {
  background: #054073c7;
}
.solution_tabs ul li a:hover{
  background: #054073c7;
}
.solution_tabs ul li:active{
  background: #db3119;
}
.solution_tabs ul li a:focus{
  background: #db3119;
}
#solution .footer_1_contact i {
  color: #db3119;
}
.brochure > a {
  background: #db3119;
}
.media .media-heading:hover a{
  color:#db3119;
}
.comments .media span a {
  color: #db3119;
}
.shop_details > span {
  color: #db3119;
}
.cart_button_1:hover{
  background: #db3119;
}
.share_product {
  background: #db3119;
}
.category_box .nstSlider .bar {
  background: #db3119;
}
.category_box .pro-list > li a:hover {
  color: #db3119;
}
.shop_contact i {
  color: #db3119;
}
.box_des > span {
  color: #db3119;
}
.box_des > a:hover{
  color: #db3119;
}
.cart_box > a:hover {
  color: #db3119;
}
.cart_box > a:hover i{
  color: #db3119;
}
.tag_new {
  background: #db3119;
}
.buttons .dark_btn {
  background: #db3119;
}
.buttons > a:hover{
  background: #db3119;
}
.pricing-table-footer .btn.btn-default {
  background: #db3119;
}
a:hover, a:active {
  color:#db3119;
}
#services_slider .services:hover a{
  color:#fff;
}
.toggle .toggle-heading a i {
  background: #db3119;
}
.latest_news_text > a:hover {
  color: #db3119;
}
#map_banner .owl-page.active span, 
#map_banner .owl-page:hover span {
  background: #0e1032 !important;
}
#finance_partner .media-body a:hover {
  color: #db3119;
}
.back-to-top {
  background: #db3119;
}
#contact-us .contact-text {
  background: #f5213e;}
  .bg_blue{
  background:#0e1032;
}
#header-top {
  background:#fff;
}
.footer_email .submit_b > span > a {
  background: #db3119;}
.footer_botom {
  background: #090b28;
}
.footer_link > li > a:hover{
  color:#f5213e;
}
.image_text {
  background: #0e1032;
  }
  .latest_footer {
    background: #090b28 none repeat scroll 0 0;
  }
  #contact_form .contact-text {
  background: #f5213e;
}
.counter span {
  color: #db3119;
  }