code {
  padding: 10px 20px;
  background: #eee;
  display: block;
  margin: 15px 0;
}
  .tile h1 {font-size: 10px;} 
  .tile p{font-size: 0.8em;} 
  .tile a{font-size: 1.8em;}


@media screen and (min-width: 43.75em){
  .col1,.col2,.col3,.col4,.col5{
    float:left;
    margin-right:0.4%;
    margin-left:0.4%;
    width:49%;    
  }
}
@media screen and (min-width: 64em){
  .col1,.col2,.col3,.col4,.col5{
    float:left;
    margin-right:0.4%;
    margin-left:0.4%;
    width:10.1%;
  } 
 
  /*.col3{margin-right: 0;}
  .col1{margin-left:2em;}   */
}

img {max-width: 100%;}


li {
list-style: none;
}
.tile {
  display: block;
  height:100%;
  width:100%;
  overflow:hidden;
  color:#fff;
  position:relative;
  }
.tile div 
{
  display: block;
  margin: 0 auto;
  width: 90%;
    }
.tile img.left
{
  display: block;
  margin: 0 auto;
  margin-top:1.250em;
  margin-bottom:0.313em;
    }
.tile img.center
{
  display: block;
  margin: 2.188em auto auto auto;

    }
.tile img.top
{
  display: block;
 
  margin:2.188em 0 0.313em 2.188em;
  float:left;
    }

.tile-content:hover 
{
    cursor:pointer;
}   
.tile-content .content {
     -webkit-transition: top ease 0.5s 0.1s;
     -moz-transition: top ease 0.5s 0.1s;
     -o-transition: top ease 0.5s 0.1s;
     transition: top ease 0.5s 0.1s;
}
.tile .tile-content, .tile .tile-content-static {
  display: block;
  height: 7em;
  /* width: 100%; */
  position: relative;
  }
        
.tile .tile-content .content, .tile .tile-content-static .content {
   display: block;
   height: 9.063em;
   width: 100%;
   position: absolute;
   }
        
.tile .tile-content .content.one, .tile .tile-content-static .content.one {
   top: 0;
   display: block;
   height: 9.063em;
   width: 100%;
  }
        
.tile .tile-content .content.two {
   top: 9.063em;
   display: block;
   height: 9.063em;
   width: 100%;
  }
.tile-content:hover .content.one {
  top: -145px;
}
.tile-content:hover .content.two {
  top: 0.2em;
}
        
/*.tile .tile-content h1, .tile .tile-content-static h1*/
.tile h1 {
   color: #fff;
   font-weight: normal;
   text-align: center;
   /*margin-top: 0.2em;*/        
   font-weight: 100;
   /*font-size: 2.5em;*/
   }
 
 .tile p {
   color: #fff;
   font-weight: normal;
   text-align: center;
   margin-top: 22%;        
   font-weight: 100;
   /*font-size: 1.5em;*/
   line-height:1.1em;
   }
   
 .tile a {
   color: #fff !important;
   font-weight: normal;
   text-align: center;
   margin-top: 12%;        
   font-weight: 100;
   /*font-size: 1.8em;*/
   line-height:1.1em;
   display:block;
   }
/*background images*/
#facebook 
{
    background:url('../images/facebook.html') 30px 35px no-repeat;
    }


/*colors*/       
.blue {
  background-color: #009fb2;
  
  border-right: 1px solid #11a8b9;
  border-left: 1px solid #118a9f;
  border-top: 1px solid #099cb0;
  border-bottom: 1px solid #099cb0;
  -webkit-box-shadow: 1px 0 1px #065363;
  -moz-box-shadow: 1px 0 1px #065363;
  -ms-box-shadow: 1px 0 1px #065363;
  -o-box-shadow: 1px 0 1px #065363;
  box-shadow: 1px 0 1px #065363;
  }  
  
  .red {
  background-color: #d5582c;
  background-image: -o-linear-gradient(left , #c64a26 0%, #d5582c 100%);
  background-image: -moz-linear-gradient(left , #c64a26 0%, #d5582c 100%);
  background-image: -webkit-linear-gradient(left , #c64a26 0%, #d5582c 100%);
  background-image: -ms-linear-gradient(left , #c64a26 0%, #d5582c 100%);
  background-image: linear-gradient(left , #c64a26 0%, #d5582c 100%);

  background-image: -webkit-gradient(
               linear,
                left top,
                right top,
                color-stop(0, #c64a26),
                color-stop(1, #d5582c)
            );
  border-right: 1px solid #db5b2e;
  border-left: 1px solid #db5b2e;
  border-top: 1px solid #db5628;
  border-bottom: 1px solid #db5628;

  }      
  
 .green 
 {
     background: #8BBA30;
     background-image: -o-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
  background-image: -moz-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
  background-image: -webkit-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
  background-image: -ms-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
  background-image: linear-gradient(left , #84a12d 0%, #9eb33a 100%);

  background-image: -webkit-gradient(
               linear,
                left top,
                right top,
                color-stop(0, #84a12d),
                color-stop(1, #9eb33a)
            );
  border-right: 1px solid #92ab34;
  border-left: 1px solid #92ab34;
  border-top: 1px solid #9cb638;
  border-bottom: 1px solid #9cb638;
  -webkit-box-shadow: 1px 0 1px #8ca731;
  -moz-box-shadow: 1px 0 1px #8ca731;
  -ms-box-shadow: 1px 0 1px #8ca731;
  -o-box-shadow: 1px 0 1px #8ca731;
  box-shadow: 1px 0 1px #8ca731;
     }
 

     .royal_blue {
      border-radius: 20px;
      background: #054073c7;
      background-image: -o-linear-gradient(left , #29527b 0%, #014e93 100%);
      background-image: -moz-linear-gradient(left , #29527b 0%, #014e93 100%);
      background-image: -webkit-linear-gradient(left , #29527b 0%, #014e93 100%);
      background-image: -ms-linear-gradient(left , #29527b 0%, #014e93 100%);
      background-image: linear-gradient(left , #29527b 0%, #014e93 100%);
      background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #1b4a73c7), color-stop(1, #6888a5c7) );
      border-right: 3px solid #054073c7;
      border-left: 3px solid #054073c7;
      border-top: 1px solid #054073c7;
      border-bottom: 1px solid #054073c7;
      -webkit-box-shadow: 1px 0 1px #004884;
      -moz-box-shadow: 1px 0 1px #004884;
      -ms-box-shadow: 1px 0 1px #004884;
      -o-box-shadow: 1px 0 1px #004884;
      box-shadow: 1px 0 1px #2d4e6bc7;
  }
 .orange 
 {
  background:#F2854C;
  
  background-image: -o-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
  background-image: -moz-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
  background-image: -webkit-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
  background-image: -ms-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
  background-image: linear-gradient(left , #dc7c26 0%, #e4a11e 100%);

  background-image: -webkit-gradient(
               linear,
                left top,
                right top,
                color-stop(0, #dc7c26),
                color-stop(1, #e4a11e)
            );
  border-right: 1px solid #e09022;
  border-left: 1px solid #e09022;
  border-top: 1px solid #e39d1f;
  border-bottom: 1px solid #e39d1f;
  -webkit-box-shadow: 1px 0 1px #dc7c26;
  -moz-box-shadow: 1px 0 1px #dc7c26;
  -ms-box-shadow: 1px 0 1px #dc7c26;
  -o-box-shadow: 1px 0 1px #dc7c26;
  box-shadow: 1px 0 1px #dc7c26;
     }

