@charset "utf-8";
/* CSS Document */
*{
	margin:0 auto;
}

body{
	
	background:#FFF url(../images/bodyBg.png) repeat-x;}

a{
	color:#281a50;
	text-decoration:none;
}
a:hover{
	color:#732231;text-decoration:none;

}
#mainWrapper{
	width:960px;
	margin:0 auto;
}
#Header{
	width:960px;
	height:107px;
	overflow:hidden;
	padding-top:5px;
	float:left;
}
.logo a{
	background: rgba(0, 0, 0, 0) url("../images/logo.jpg") no-repeat scroll 0 0;
	/*float: left;*/
	/*height: 90px;*/
	margin-left: 10px;
	margin-top: 10px;
	width: 247px;
	display: block;}
.header_right{
	width:245px;
	float:right;
	height:107px;
}

.subscribe a{
	width:65px;
	height:20px;
	position:absolute;
	background:url(../images/subscribe.jpg) no-repeat;
	z-index:10px;
	left:136px;
	top:-28px;}
.comonLeft{
	float:left;
}
.comonRight{
	float:right;
	margin-right:10px;
}
.check{
	width:100px;
	font-size:13px;
	float:right;
	*MARGIN-RIGHT:0PX;
	text-align:right;
}

#Navi{
	width:960px;
	height:33px;
	float:left;

}
#Banner{
	width:960px;
	height:245px;
	overflow:hidden;
	float:left;
	position:relative;

}
#Innerbody{
	width:960px;
	min-height:314px;
	float:left;
	padding:10px 0 0 0 ;
}
.Leftpart{
	width:225px;
	float:left;}
.event{
	width:380px;
	float:left;
	padding:5px;
	border:1px #dfe0e0 solid;
	margin-bottom:5px;

}
.eveTitle{
	width:370px;
	height:33px;
	float:left;
	padding-top:10px;
	padding-left:7px;
	background-color: #732231;
}
.newContent{
	width:212px;
	padding-left:10px;
	float:left;}
.downLeft{
	width:350px;
	float:left;
	line-height:38px;
	padding-left:10px;
	border-bottom:1px #dfe0e0 solid;}
.downLeft a{
	color:#333;
	font-size:12px;}
.downLeft a:hover{
	color:#F00;}
.downLeft:hover{
	display:block;
	background:#EEE;}
/*	.newTop{
		width:223px;
		float:left;
		height:9px;
		background:url(../images/new-top.png) no-repeat;
		}
	.newContent{
		width:213px;
		padding-left:10px;
		
		float:left;
		background:url(../images/new-mid.png) repeat-y;}
	.newBtm{
		width:213px;
		height:30px;
		float:left;
		padding:7px 0 0 10px;
		background:url(../images/new-btm.png) no-repeat;}
		.newBtm a{
			color:#FFF;
			font-size:12px;}
		.newBtm a:hover{
			text-decoration:underline;
			}*/
.title1{
	font-size:17px;
	color:#FFF;
	font-weight:500;
}
.title{
	font-size:15px;
	color:#fff;
	font-weight:500;
}
.middleCoulmn{
	width:450px;
	float:left;
}
.welcome{
	width:436px;
	float:left;
	margin-left:10px;
	margin-right:4px;
	padding:0 0px;
}
.welcomeTitle{
	width:419px;
	float:left;
	height:34px;
	padding:14px 0 0 15px;
	background:url(../images/box-top.png) no-repeat;
}
.welcomeCont{
	width:416px;
	float:left;
	font-family: montserratlight, Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	text-shadow:0 1px 1px #FFF;
	padding:0 10px;
	background:url(../images/transparent-logo.png) no-repeat right top;
}

.overView_mid{
	width:436px;
	float:left;
	background: url(../images/box-mid1.png) repeat-y;}

.overView_btm{
	width:436px;
	height:19px;
	float:left;
	background: url(../images/box-btm.png) no-repeat bottom left;}
.more a{
	float:left;
}
.more a:hover{
	color:#F00;}
.rightColumn{
	width:276px;
	float:left;
	margin-left:3px;
}
.service{
	width:276px;
	float:left;
	height:128px;
	background:url(../images/service.png) no-repeat;
	position:relative;
	margin-bottom:4px;
}
.serviceAbs a{
	position:absolute;
	width:276px;
	height:128px;
	z-index:10px;
}
.serviceTitle{
	width:263px;
	height:28px;
	float:left;
	padding:12px 0 0 13px;
	font-size:16px;
	color:#FFF;}

.serviceTitle a{
	text-decoration:none;
	color:#FFF;
}
.servContent{
	width:263px;
	float:left;
	height:65px;
	overflow:hidden;
	font-size:12px;
	padding:5px 7px;
}
.servImg{
	width:75px;
	float:right;
	height:65px;
	margin-top:7px;
	background:#FFF;}
.download{
	width:276px;
	float:left;
	height:86px;
	overflow:hidden;
	background:url(../images/download.png) no-repeat;
	position:relative;
}


.downloadAbs a{
	position:absolute;
	width:276px;
	height:73px;
	overflow:hidden;
	background:url(../images/shadow.png) no-repeat;
	z-index:10px;
}
.downContent{
	width:266px;
	float:left;
	padding:0 5px;
	font-size:12px;
}
.downContent ul{}
.downContent ul li{
	float:left;
	width:256px;
	padding-left:5px;
}
.downContent ul li a{
	line-height:18px;
	color:#000;}
.downContent ul li a:hover{
	color:#F00;}
#FooterWrapper{
	width:100%;
	min-height:100%;
	bottom:0;
	float:left;
	border-top:2px solid #cc0000;
	background:#CCC url(../images/footerBg.jpg) repeat-x bottom ;
}
.footer{
	width:960px;
	position:relative;
	margin:0 auto;
}
.contactFooter{
	width:950px;
	float:left;
	height:25px;
	padding-top:5px;
	padding-left:10px;
	color:#FFF;
	text-transform:uppercase;}
.footer a{
	color:#666;
	font-size:12px;}
.footer a:hover{
	color:#cc0000;
	font-size:12px;}
.footerLight{
	width:233px;
	height:33px;
	position:absolute;
	top:-0px;
	background:url(../images/footer_light.png) no-repeat;
}
.copyright{
	color:#666;
	font-size:12px;
	line-height:18px;
	text-align:center;
}
/* Promoters
------------------------------------------------------*/
.promoter{
	width:418px;
	float:left;
	height:63px;
	margin:5px 0;
	padding:5px 10px 0 10px;
	margin-left:8px;
	position:relative;
	background:url(../images/promotersBg.png) no-repeat top;
}
.absMore{
	position:absolute;
	top:7px;
	left:300px;
	font-size:12px;
}
/*.proTop{
    width:720px;
    height:8px;
    float:left;
    background: url(../images/pro-top.png);}
.proMid{
    width:700px;
    float:left;
    padding:0px 10px;
    background:url(../images/pro-mid.png) repeat-y;}
.proBtm{
    width:720px;
    float:left;
    height:8px;
    background:url(../images/pro-btm.png) no-repeat}*/
.protitle{
	float:left;
	height:25px;
	line-height:25px;
	font:18px/18px;}

/* --------- Tel no ---------- */

.contactBase{
	width:400px;
	float:left;
	font-size:14px;
	line-height:22px;
	padding-left:10px;
	margin-bottom:10px;
}
.contactBase2{
	width:250px;
	float:left;
	font-size:15px;
	line-height:22px;
	padding-left:10px;
	margin-bottom:10px;
}
.contactBase2 a{
	text-decoration:none;
	color:#000;
	font-size:15px;

}
.contactBase2 a:hover{
	text-decoration:underline;
	color:#000;
	font-size:15px;

}
.quickBtm{
	width:223px;
	float:left;
	height:10px;
	background: url(../images/newBtm.png) no-repeat;}
.borRig{
	border-right:1px dashed #999;
}

/*---------Quick links----------*/

.quick{
	width:220px;
}

select {
	width:220px;
	border:1px solid #ccc;
	vertical-align: middle;


}
option {
	background-color: #fef5e6;
	padding:2px 10px ;
	border-bottom: 1px solid #ebdac0;

}/*
option:hover {
    cursor: pointer;
}*/
/* Slider
------------------------------------------------------*/
.header-left{
	float:left;
	width:496px;
}
.header-text{
	padding:50px 40px 20px 50px;
	line-height:18px;
}
.header-text h1{
	width:420px;
	font-size:26px;
	line-height:28px;
}
.conbut{
	text-align:right;
}
.stitle{
	font-size:18px;
}
.header-right{
	float:left;
	width:960px;
	height:170px;
	text-align:center;
	position:relative;
}
.header-image1{
	position:absolute;

}
.header-image2{
	position:absolute;
	top:10px;
	left:60px;
}
.header-image3{
	position:absolute;
	top:-25px;
	left:0px;
}
.header-image4{
	position:absolute;
	top:2px;
	right:1px;
}
#nav-slide{
	position:absolute;
	bottom:20px;
	right:20px;
	z-index:10;
	padding:10px 10px;
	-moz-border-radius:3px;
	-webkit-border-top:3px;
	border-radius:3px;
	background-image:url(nav-slide-repeat.png);
	background-repeat:repeat;
}
#pager a{
	background: url(slidenav.png) no-repeat;
	display:block;
	float:left;
	font-size:0px;
	width:9px;
	height:10px;
	margin:0px 2px;
	outline-style:none;
	outline-width:medium;
	text-indent:-9999px;
}
#pager .activeSlide{
	background: url(slidenav-active.png) no-repeat;
}

/*News Slider*/
.newsCont{
	width:220px;
	float:left;
	height:150px;
	overflow:hidden;
	font-size:12px;
	border:1px solid #0C3;
	margin-top:10px;
}

.newsticker-jcarousellite { width:340px; float:left; padding-top:7px; height: 180px!important; overflow:hidden;}
.newsticker-jcarousellite1 { width:310px; float:left; padding-top:7px; height: 180px!important; overflow:hidden;}
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:-15px; height:57px; float:left;border-bottom:1px #CCC dashed; }
.newsticker-jcarousellite .thumbnail { float:left; width:345px; height:75px; font-size:12px;  }
.newsticker-jcarousellite .thumbnail b{ color:#000;}
.newsticker-jcarousellite .info { float:left; width:320px; height:70px;}

.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#666; height:40px;}

.homerel{width:49px;
	height:49px;
	float:left;
	position: relative;
}
#news{
    height:180px;
}
.news{ height:180px;}
.home a{
	width:29px;
	height:49px;
	position:absolute;
	top:-7px;
	left:-14px;
	z-index:1000;
	background:url(../images/home.png) no-repeat;
}
.member{
	width:420px;
	float:left;
	padding-top:8px;
}
.member a{

	font-size:12px;
	font-family:montserratlight, Verdana, Geneva, sans-serif;}


.search{
	width:192px;
	float:left;
	float:right;
	padding:1px;
	margin-bottom:5px;
	position:relative;
}
.search_field{
	position:absolute;
	top:12px;
	left:14px;
}
.sear{
	width:186px;
	height:26px;
	background:none;
	padding-left:6px;
	border:1px solid #d8d8d8;
}
.searchBtm a{
	width:24px;
	height:24px;
	position:absolute;
	background:#EEE url(../images/searchBtm.png) no-repeat;
	z-index:12px;
	left:168px;
	top:4px;
}
.search1{
	width:200px;
	height:30px;   border:1px solid #06F;
	float:left;
	margin-top:5px;
	position:relative;
}
.search_field1{
	position:absolute;
	top:3px;
	left:3px;
}
.sear1{
	width:160px;
	height:20px;
	padding-left:5px;
	border:1px solid #d8d8d8;
}
.searchBtm1 a{
	width:24px;
	height:24px;
	position:absolute;
	background:url(../images/searchBtm.png) no-repeat;
	z-index:10px;
	left:173px;
	top:3px;}
.subsr{
	width:270px;
	float:left;
	height:25px;
	padding:15px 0 0 10px;
	background:url(../images/subscribeBg.png) no-repeat right;}

.inPg_Cont{
	width:700px;
	float:left;
	line-height:20px;
	text-align:justify;
	font-size:12px;
	margin-left:7px;
	padding:5px 10px;border:1px #dfe0e0 solid;
}
.comTitle{
	font-size:20px;
	font-weight:500;
	color:#0054A6;
	line-height:25px;
}
.dwform{
	padding:5px 20px;
	border:1px solid #CCC;
	margin-right:10px;
	margin-bottom:5px;
}
.dwform:hover{
	background:url(../images/dnHover.jpg) repeat-x;
}
/*  --------Contact Pages----- */
.contact{
    margin-bottom: 30px;
	width:700px;
	float:left;}
.userpt{
	width:700px;
	position:relative;
	float:left;
	margin-bottom:3px;
}
.usernm{
	width:100px;
	height:31px;
	float:left;
}
.inpurnm{
	width:281px;
	float:left;
	height:31px;}
.inpField{
	width:271px;
	background:url(../images/input.png) no-repeat;
	height:30px;
	border:0;
	padding-left:10px;}
.error{
	font-size:12px;
	width:281px;
	position:absolute;
	height:30px;
	color:#FFF;
	left:400px;
	top:0;
	padding:5px 0 0 25px;
	background:url(../images/error.png) no-repeat left;
}
.red{
	color:#F00;}
.textarea{
	width: 271px; height: 76px;
	background:url(../images/textarea.png) no-repeat;
	resize:none;
	padding:10px 0 0 10px;
	border:0;
}
.send{
	width:105px;
	height:29px;
	border:0;
	cursor:pointer;
	float:left;
	background:url(../images/btnSend1.png) no-repeat;
}


/*-- listing_box --*/
.listing_box {
	float:left;
	width:700px;
}
.comm_list {
	float:left;
	width:700px;
	margin-bottom:10px;
	border-bottom:1px dotted #CCC;
	padding-bottom:10px;
}
.comm_list_img {
	float:left;
	width:100px;
	height:100px;
	border:#CCC 1px solid;
}
.comm_list_title {
	float:left;
	width:588px;
	color:#36F;
	border-bottom:1px #CCC dotted;
	font-family: 'OpenSansSemibold' !important;
	margin-left:10px;
}
.comm_list_txt {
	float: left;
	width:588px;
	line-height:20px;
	padding-left:10px;
}
.comm_list_read {
	float:left;
	width:588px;
	padding-left:10px;
	font-size:12px;
}
.comm_list_read a {
	text-decoration:underline;
	color:#CC0000;
}
.comm_list_read a:hover {
	text-decoration:none;
	color:#000;
}
.for_date {
	float:right;
	font-size:12px;
	font-weight:normal;
	color:#999;
}

.for_date_details {
	font-size:12px;
	font-weight:normal;
	color:#999;
	font-style:italic;
}

.detail_img {
	float:right;
	margin:0 0 5px 5px;
	border:#CCC 1px solid;
	width:300px;
}
/*-- end listing_box --*/

.innsearch{
	width:700px;
	float:left;
	padding:5px 0;
	font-size:12px;
	border-bottom:1px #06F dashed;
}
.searchTitle{
	width:680px;
	padding:3px 0;
	padding:0 0 0 10px;
	float:left;
}
.innsearchTitle a{
	color:#F00;
	font-weight:bold;
	font-size:13px;
}
.blue{
	color:#009;}
.blue a:hover{
	color: #39F!important;
}


/*sitemap*/
.list_link a {
	text-decoration:none;
	color:#333;
}

.list_link a:hover {
	text-decoration:underline;
	color:#0033FF;
}
.list ul{
	padding:5px 0;}
.list li{
}
.list li a {
	text-decoration:none;
	color:#666;
	margin-left:20px !important;
}

.list li a:hover {
	text-decoration:none;
	color:#0033FF;
}
.list li ul li{
	margin-left:20px !important;
}
.list ul li a {
	text-decoration:none;
	color:#666;
	font-weight:normal;
}

/* date */
.date{
	width:191px;
	height:23px;
	float:right;
	text-align:center;
	border:1px solid #CCC;}
.datebox{
	border-right:1px #CCC solid;
	color:#999;
	float:left;
	height:18px;
	padding:5px 7px 0 8px;}
.date1{
	width:191px;
	height:23px;
	float:right;
	text-align:center;}

.datebox1{
	color:#999;
	float:left;
	height:18px;
	padding:5px 7px 0 8px;}
#screenshot{
	position:absolute;
	border:1px solid #ccc;
	padding:5px;
	display:none;
	left:200px;
	color:#fff;
}
ul.director{
	margin-left:10px;
}
ul.director  li{
	margin:6px 0px;
	padding-left:0px;
	border-bottom:1px dashed #CCC;
	list-style:circle;}
ul.director ul{
	margin-left:10px;}
/* Faqs */
.faqsection {
	margin: 10px 0;
}

div.faq {
	margin: 10px 0 0 10px;
}

div.faq .question {
	color: #2763A5;
	cursor:  pointer;
	padding-left: 10px;
	background: url(raquo.gif) no-repeat left 5px;
}

div.faq .question.active {
	background-image: url(raquo-down.gif);
}

div.faq .answer  {
	margin-left: 10px;
}

div.faq ul,
div.faq ol {
	margin: 0 0 10px 20px;}

/*  Board Of members */
.board{
	width:220px;
	float:left;
	margin:5px 5px;
	border:1px solid #EAEAEA;
	display:block;
}
.board:hover{
	background:#E6E6E6;
	border:1px solid #CCC;
}
.boardImg{
	width:40px;
	height:40px;
	float:left;
	margin:3px 0 3px 3px;
}
.boardTxt{
	width:150px;
	float:left;
	padding:10px 0 0 10px;}

.eventDown{
	width:276px;
	float:left;
	padding:1px;
	border:1px #dfe0e0 solid;
	margin-bottom:5px;
}
.eventDownTit{
	width:265px;
	height:23px;
	float:left;
	padding-top:7px;
	padding-left:10px;
	background:url(../images/quickBg.png) repeat-x;
}
.eventDown ul{
	margin:0;
	padding:0;
}
.eventDown ul li{
	width:255px;
	list-style:none;
	float: left;
	font-size:12px;
	padding:6px 5px;
}

/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
	width: 400px;
	height: 27px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	left: 10px;
	top: 0px;
	width: 400px;
	overflow: hidden;
}
ul.newsticker { /* that's your list */
	position: relative;
	left: 400px;
	font: bold 10px Verdana;
	list-style-type: none;
	margin: 0;
	padding: 0;

}
ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	padding: 0;
}
ul.newsticker a {
	white-space: nowrap;
	padding: 0;
	color: #ff0000;
	font: bold 10px Verdana;
	margin: 0 50px 0 0;
}
ul.newsticker span {
	margin: 0 10px 0 0;
}


.slogan {
	display: inline;
}

.iso {
	float: right;
}

.logo {display: inline-block;}