/*
 * jQuery Nivo Slider v1.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
.nivoSlider {
	position:relative;
	top:5px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:2260;
	display:none;

}

.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}

.nivo-caption {
	position:absolute;
	left:30px;
	top:30px;	
	color:#eee;
	width:30%;
	z-index:89;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	background-image: url(../images/opacity2.png);
	
}
.nivo-caption p {
	padding:10px;
	margin:0;	
	font-size:11px;
	font-weight:normal;
	margin-left:0px;

}

.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:999;
	cursor:pointer;

}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}

.nivo-controlNav a {
	position:relative;
	cursor:pointer;
	z-index:999;
}

#slider-wrap{
margin: 0px;
	border-bottom:3px  dashed #111;
	width:100%;
	float:left;
	background-color:#333;
	background-image: url(../images/slider-bg.jpg);
	position:relative;
}

.slider-frame-box{
	width:960px;
	height:240px;
	margin:0px auto 0px auto;
	background-image: url(../images/slider-frame.png);
	background-repeat: no-repeat;
	background-position: center top;
	position:relative;
}
.slider-frame{	
margin: 0px;
padding:0px;
	width:960px;	
	height:245px;
	overflow:hidden;
	margin-bottom:20px;

}

.slider{
width:940px;	
z-index:33;
position:absolute;
top:10px;
left:0px;
	height:248px;
}
.slider a img{
	width:960px;
	height:240px;
	position:absolute;
	overflow:hidden;
}


.nivo-controlNav {
	position:absolute ;
	left:45%;
	top:330px;




}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:19px;
	background:url(../images/nav.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:0px;
	float:left;



}
.nivo-controlNav a.active {
	background-position:-24px 0;
}
