@include('Home.layouts.header')
@include('Home.layouts.nav')  <!-- 
    <section id="page_banner" class="border_b"  style="background:url('http://itsutra.com.np/cdscnp/uploads/news/0e53374a4576e445669bbdc87a03034c.jpg');background-repeat:no-repeat;background-size:cover;padding-top:10%; ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Notices</h2>
                        <p>Know all about us here...</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <ol class="breadcrumb">
                        <li><a href="#">You are here:</a></li>
                        <li><a href="http://itsutra.com.np/cdscnp/">Home</a></li>
                        <li class="active">Notices</li>
                    </ol>
                </div>
            </div>
        </div>
    </section> -->
    


    <section id="news-section" class="p-t-30 p-b-30">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row ">
                    <div class="col-md-12">
                       <div class="heading_border bg_red"></div>
                        <h2>Latest Notices</h2>
                                                <div class="media p-t-20 p-b-20">
                            <div class="media-body">
                                                                <p> <i class="fa fa-calendar"></i> Mar 11, 2018</p>
                                <h4 class="media-heading"><a href="8.html">Your Title</a></h4>
                                 
                            </div>
                        </div>
                                                <div class="media p-t-20 p-b-20">
                            <div class="media-body">
                                                                <p> <i class="fa fa-calendar"></i> Nov 10, 2017</p>
                                <h4 class="media-heading"><a href="7.html">What is Lorem Ipsum?</a></h4>
                                 
                            </div>
                        </div>
                                                <div class="media p-t-20 p-b-20">
                            <div class="media-body">
                                                                <p> <i class="fa fa-calendar"></i> Nov 10, 2017</p>
                                <h4 class="media-heading"><a href="6.html">What is Lorem Ipsum?</a></h4>
                                 
                            </div>
                        </div>
                                                <div class="media p-t-20 p-b-20">
                            <div class="media-body">
                                                                <p> <i class="fa fa-calendar"></i> Jan 02, 2018</p>
                                <h4 class="media-heading"><a href="5.html">Dummy Text Generator </a></h4>
                                 
                            </div>
                        </div>
                                            </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="heading">
                    <div class="heading_border bg_red"></div>
                    <h2>Notice</h2>
                </div>
                <div class="latest_page_box">
                                        <h3>What is Lorem Ipsum?</h3>
                    <p><span><i class="fa fa-calendar"></i> </span> Nov 10, 2017</p>
                    <p style="text-align: justify;">Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                     </div>
                <div class="news_border"></div>
            </div>
        </div>
    </div>
</section>
    <!-- Project Details End -->



       <!-- Footer Start -->
       @include('Home.layouts.footer')